@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500&family=Playfair+Display:wght@600&family=Poppins:wght@300;400&family=Varela&family=Varela+Round&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Josefin Sans', sans-serif;   font-size:300
font-family: 'Lora', serif;  font-size:400----italic*/

/* .container-fluid{
  background-color:#d7cec7;
} */
/*NAV-BAR CSS*/
.navbar{
  color:#081c15;
background-color: #081c15;
  top:0;
  font-family: italics;
  text-decoration: none;
  font-size: 17px;
  line-height: 26px;
  box-shadow: 0  8px 6px -6px #081c15;
  --webkit-box-shadow: 0  8px 6px -6px #081c15;
  border-bottom: 0.3px solid #081c15 !important;
}

.navbar a:hover{
  color:#95D5B2;
border-bottom: 1px solid #95D5B2;
text-decoration: none;
}


.smallbr{
  font-size: 12px;
  color:#565656;
}
.nav-link{
  font-weight: 550 !important;
  color:black;
}

.navbar-brand{
  font-weight: 700;
  font-family: italics;
color:#081c15;
}

.ff{
  font-family: italics;
}

.active{
  border-bottom: 2px solid black;
}
.sc{
  background: #081c15;
  color:#95D5B2;
}
.sc:hover{
  background: #95D5B2;
  color:#081c15 ;
}
.fw{
  font-weight: bold;
}
/*================================
=============footer=============*/

.footer{
  color:#d7cec7;
  font-family:italics;
  padding: 25px;
  background:#081c15;
  border: 2px 2px 2px 2px;
  border-color: black;
}

.footer a{
  text-decoration: none;
  color:#d7cec7;
  padding: 10px;
}

.footer a:hover{
color:#ffefba;
border-bottom: 1px solid #ffefba;
}

/*=================================
======Page Not Found=============*/

.pnf{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
  flex-direction: column;
}

.pnf-title{
  font-weight: normal;
  font-size: 100px;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover{
  color:solid black;
}

.product-link{
  text-decoration: none;
  color: black !important;

}
.product-img{
  width:auto;
  height: 400px;
}

.proddetails{
  font-family: italics;
}


/* ==========Private Policy ============ */
.poilcy h1{
  background-color: #081c15;
}