@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500&family=Playfair+Display:wght@600&family=Poppins:wght@300;400&family=Varela&family=Varela+Round&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Josefin Sans', sans-serif;   font-size:300
font-family: 'Lora', serif;  font-size:400----italic*/

/*NAV-BAR CSS*/
.navbar{
  background-color: #4444;
  position: sticky;
  top:0;
  font-family: 'Lora', serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0  8px 6px -6px gray;
  --webkit-box-shadow: 0  8px 6px -6px gray;
  border-bottom: 0.3px solid gray !important;
}

.navbar a:hover{
  color:teal;
border-bottom: 1px solid teal;
}
.container-fluid{
  background-color:#4444;}

.smallbr{
  font-size: 12px;
  color:teal;
}
.nav-link{
  font-weight: 550 !important;
  color:black;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'Lora', serif;
 
}

.active{
  border-bottom: 2px solid black;
}

/*================================
=============footer=============*/

.footer{
  color:black;
  padding: 25px;
  background:teal;
  border: 2px 2px 2px 2px;
  border-color: black;
}

.footer a{
  text-decoration: none;
  color:white;
  padding: 10px;
}

.footer a:hover{
color:#ffefba;
border-bottom: 1px solid #ffefba;
}

/*=================================
======Page Not Found=============*/

.pnf{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
  flex-direction: column;
}

.pnf-title{
  font-weight: normal;
  font-size: 100px;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover{
  color:solid black;
}


